@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
  @apply bg-white text-black font-serif;
  font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4 {
  @apply font-bold;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.subtitle-preview * {
  color: #4b5563 !important; /* Gray 600 */
}

.subtitle-featured * {
  color: #ffff !important; /* white */
}


/* Dimensioni slug */
.article-page h1 {
  font-size: 2.2rem; /* ~40px */
}

.article-page .subtitle {
  font-size: 1.25rem; /* ~20px */
}

.article-page .content {
  font-size: 1.5rem; /* ~18px */
  line-height: 1.7;
}

/* Hide scrollbar altri articoli scorrimento orizzontale */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
